<!-- start Simple Custom CSS and JS -->
<style type="text/css">
/* Ajouter votre code CSS ici.
                     
Par exemple:
.exemple {
    color: red;
}

Pour améliorer vos connaissances en CSS, visitez http://www.w3schools.com/css/css_syntax.asp

Fin du commentaire */ 

.sub-menu {
	width : 100%!important;
}

.sub-menu li {
	border-image: none!important;
}</style>
<!-- end Simple Custom CSS and JS -->
