$color-white: #ffffff;
$color-black: #000000;
$color-red: #b96e6c; // for errors

// PINK
$color-pink-darker: #981854;
$color-pink-dark: #a2195b;
$color-pink-medium: #d40967;
$color-pink-light: #e61d72;

$color-pink-soins-parodontologie: rgb(218, 98, 161);
$color-pink-soins-implantologie: rgb(12, 104, 99);
$color-pink-soins-esthetique: rgb(18, 180, 176);

// GREY
$color-grey-dark: #2a3133;
$color-grey-light: #969fa1;

// GREEN
$color-green: #a8e71f;

// LAYOUT
$color-text: $color-grey-dark;
$color-link: $color-pink-dark;
