.form {
    --color-bg-input: #F7FAFD;
    --color-border: #E5EDF3;
    --color-label: #303A5B;

    &__group {
        margin-bottom: 20px;
        //max-width: 280px;

        &--fluid {
            max-width: 100%;
        }

        &--checkbox {
            .form__label {
                display: inline-block;
            }
        }
    }

    &__label {
        display: block;
        color: var(--color-yellow);

        .small {
            font-size: 77%;
        }
    }

    &__input {
        width: 100%;
        height: 45px;
        padding: 5px;
        color: var(--color-black);
        background-color: var(--color-bg-input);
        border: 1px solid var(--color-border);
        border-radius: 5px;
        outline: none;

        &--readonly {
            border-bottom: none;
        }

        &--textarea {
            resize: vertical;
            min-height: 100px;
            max-height: 330px;

            &--no-line {
                resize: none;
            }
        }

        &--checkbox {
            display: inline-block;
            width: auto;
            vertical-align: middle;
        }
    }

    &__button {
        display: block;
        min-width: var(--width-btn);
        width: auto;
        padding: 10px 30px;
        margin: 30px auto 0;
        font-size: 1.125em;
        font-weight: var(--fw-2-bold);
        font-family: var(--font-family-second);
        font-style: italic;
        line-height: var(--line-height);
        border: none;
        border-radius: 5px;
        background-color: var(--color-yellow);
        color: var(--color-white);
        outline: none;
        cursor: pointer;
        -webkit-transition: opacity .3s ease-in-out, background-color .3s ease-in-out;
        -moz-transition: opacity .3s ease-in-out, background-color .3s ease-in-out;
        -o-transition: opacity .3s ease-in-out, background-color .3s ease-in-out;
        transition: opacity .3s ease-in-out, background-color .3s ease-in-out;

        &:hover,
        &:active,
        &:focus {
            outline: 0;
            opacity: .5;
        }
    }

    &__field-error {
        padding: 5px 10px;
        margin-top: 6px;
        font-size: .75em;
        color: var(--color-red);
        border-radius: 5px;
    }

    &__field--help-text {
        font-size: .75em;
    }

    @import "form/file";
    //@import "form/radio";
    //@import "form/md-radio";
}
