/* latin */
@font-face {
  font-family: "Questrial";
  font-style: normal;
  font-weight: 400;
  src: local("Questrial"), local("Questrial-Regular"), url(https://fonts.gstatic.com/s/questrial/v9/QdVUSTchPBm7nuUeVf70viFluW44JQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFWJ0bf8pkAp6a.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFUZ0bf8pkAp6a.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFWZ0bf8pkAp6a.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVp0bf8pkAp6a.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFWp0bf8pkAp6a.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFW50bf8pkAp6a.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0bf8pkAg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirkOX-hpKKSTj5PW.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirkOVuhpKKSTj5PW.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirkOXuhpKKSTj5PW.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirkOUehpKKSTj5PW.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirkOXehpKKSTj5PW.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirkOXOhpKKSTj5PW.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirkOUuhpKKSTjw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOX-hpKKSTj5PW.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOVuhpKKSTj5PW.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOXuhpKKSTj5PW.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOUehpKKSTj5PW.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOXehpKKSTj5PW.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOXOhpKKSTj5PW.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOUuhpKKSTjw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans ExtraBold"), local("OpenSans-ExtraBold"), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN8rsOX-hpKKSTj5PW.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans ExtraBold"), local("OpenSans-ExtraBold"), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN8rsOVuhpKKSTj5PW.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans ExtraBold"), local("OpenSans-ExtraBold"), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN8rsOXuhpKKSTj5PW.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans ExtraBold"), local("OpenSans-ExtraBold"), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN8rsOUehpKKSTj5PW.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans ExtraBold"), local("OpenSans-ExtraBold"), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN8rsOXehpKKSTj5PW.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans ExtraBold"), local("OpenSans-ExtraBold"), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN8rsOXOhpKKSTj5PW.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans ExtraBold"), local("OpenSans-ExtraBold"), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN8rsOUuhpKKSTjw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Clicker Script";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Clicker Script"), local("ClickerScript-Regular"), url(https://fonts.gstatic.com/s/clickerscript/v7/raxkHiKPvt8CMH6ZWP8PdlEq71rR0Tu2KrfuYFE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Clicker Script";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Clicker Script"), local("ClickerScript-Regular"), url(https://fonts.gstatic.com/s/clickerscript/v7/raxkHiKPvt8CMH6ZWP8PdlEq71rf0Tu2Krfu.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "Dawning of a New Day";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Dawning of a New Day"), local("DawningofaNewDay"), url(https://fonts.gstatic.com/s/dawningofanewday/v10/t5t_IQMbOp2SEwuncwLRjMfIg1yYit_nAw8cj2NkNZBF.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Parisienne";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Parisienne"), local("Parisienne-Regular"), url(https://fonts.gstatic.com/s/parisienne/v7/E21i_d3kivvAkxhLEVZpQyZwD8CtevK5qw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Parisienne";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Parisienne"), local("Parisienne-Regular"), url(https://fonts.gstatic.com/s/parisienne/v7/E21i_d3kivvAkxhLEVZpQyhwD8CtevI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border: 0;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bold;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

:root {
  --font-family-primary: "Questrial", "Open sans", sans-serif;
  --font-family-second: "Pacifico", "Open sans", sans-serif;
  --font-family-hand: "Parisienne", "Questrial", "Open sans", sans-serif;
  --fw-light: 100;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --font-size: 18px;
  --line-height: 1.42857143;
  --footer-height: 196px;
  --color-white: #ffffff;
  --color-black: #000;
  --color-red: #b96e6c;
  --color-yellow-500: #DBB24F;
  --color-grey-800: #2a3133;
  --color-grey-400: #969fa1;
  --color-grey-300: #d6d6d6;
  --color-grey-100: #ddd;
  --color-green: #a8e71f;
  --color-text: var(--color-grey-800);
  --color-link: var(--color-yellow-500);
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

.wrap {
  min-height: 100%;
  margin: 0 auto calc(1px - (var(--footer-height) + 1px));
}

.push,
.footer {
  min-height: var(--footer-height);
}

p {
  margin: 0 0 10px 0;
}

a {
  text-decoration: none;
  transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
a:hover, a:active, a:focus {
  outline: 0;
  opacity: 0.5;
}

/* GRID */
.grid {
  display: grid;
  grid-column-gap: 20px;
}
.grid.col-2 {
  grid-template-columns: 1fr 1fr;
}

/* CONTAINER */
.container,
.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* ROW */
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}
.row.gap-0 {
  grid-gap: 0;
}
.row.gap-15 {
  grid-gap: 15px;
}

.col-xs-12 {
  grid-column: span 12;
  overflow: hidden;
}

.col-xs-11 {
  grid-column: span 11;
  overflow: hidden;
}

.col-xs-10 {
  grid-column: span 10;
  overflow: hidden;
}

.col-xs-9 {
  grid-column: span 9;
  overflow: hidden;
}

.col-xs-8 {
  grid-column: span 8;
  overflow: hidden;
}

.col-xs-7 {
  grid-column: span 7;
  overflow: hidden;
}

.col-xs-6 {
  grid-column: span 6;
  overflow: hidden;
}

.col-xs-5 {
  grid-column: span 5;
  overflow: hidden;
}

.col-xs-4 {
  grid-column: span 4;
  overflow: hidden;
}

.col-xs-3 {
  grid-column: span 3;
  overflow: hidden;
}

.col-xs-2 {
  grid-column: span 2;
  overflow: hidden;
}

.col-xs-1 {
  grid-column: span 1;
  overflow: hidden;
}

.col-asc {
  align-self: center;
}

.col-jsc {
  justify-self: center;
}

.col-jse {
  justify-self: end;
}

@media (min-width: 768px) {
  .col-sm-12 {
    grid-column: span 12;
    overflow: hidden;
  }

  .col-sm-11 {
    grid-column: span 11;
    overflow: hidden;
  }

  .col-sm-10 {
    grid-column: span 10;
    overflow: hidden;
  }

  .col-sm-9 {
    grid-column: span 9;
    overflow: hidden;
  }

  .col-sm-8 {
    grid-column: span 8;
    overflow: hidden;
  }

  .col-sm-7 {
    grid-column: span 7;
    overflow: hidden;
  }

  .col-sm-6 {
    grid-column: span 6;
    overflow: hidden;
  }

  .col-sm-5 {
    grid-column: span 5;
    overflow: hidden;
  }

  .col-sm-4 {
    grid-column: span 4;
    overflow: hidden;
  }

  .col-sm-3 {
    grid-column: span 3;
    overflow: hidden;
  }

  .col-sm-2 {
    grid-column: span 2;
    overflow: hidden;
  }

  .col-sm-1 {
    grid-column: span 1;
    overflow: hidden;
  }
}
@media (min-width: 992px) {
  .col-md-12 {
    grid-column: span 12;
    overflow: hidden;
  }

  .col-md-11 {
    grid-column: span 11;
    overflow: hidden;
  }

  .col-md-10 {
    grid-column: span 10;
    overflow: hidden;
  }

  .col-md-9 {
    grid-column: span 9;
    overflow: hidden;
  }

  .col-md-8 {
    grid-column: span 8;
    overflow: hidden;
  }

  .col-md-7 {
    grid-column: span 7;
    overflow: hidden;
  }

  .col-md-6 {
    grid-column: span 6;
    overflow: hidden;
  }

  .col-md-5 {
    grid-column: span 5;
    overflow: hidden;
  }

  .col-md-4 {
    grid-column: span 4;
    overflow: hidden;
  }

  .col-md-3 {
    grid-column: span 3;
    overflow: hidden;
  }

  .col-md-2 {
    grid-column: span 2;
    overflow: hidden;
  }

  .col-md-1 {
    grid-column: span 1;
    overflow: hidden;
  }
}
@media (min-width: 1200px) {
  .col-lg-12 {
    grid-column: span 12;
    overflow: hidden;
  }

  .col-lg-11 {
    grid-column: span 11;
    overflow: hidden;
  }

  .col-lg-10 {
    grid-column: span 10;
    overflow: hidden;
  }

  .col-lg-9 {
    grid-column: span 9;
    overflow: hidden;
  }

  .col-lg-8 {
    grid-column: span 8;
    overflow: hidden;
  }

  .col-lg-7 {
    grid-column: span 7;
    overflow: hidden;
  }

  .col-lg-6 {
    grid-column: span 6;
    overflow: hidden;
  }

  .col-lg-5 {
    grid-column: span 5;
    overflow: hidden;
  }

  .col-lg-4 {
    grid-column: span 4;
    overflow: hidden;
  }

  .col-lg-3 {
    grid-column: span 3;
    overflow: hidden;
  }

  .col-lg-2 {
    grid-column: span 2;
    overflow: hidden;
  }

  .col-lg-1 {
    grid-column: span 1;
    overflow: hidden;
  }
}
.col-md-6.pad-r {
  margin-right: -10px;
  padding: 0;
}
.col-md-6.pad-l {
  margin-left: -10px;
  padding: 0;
}

html {
  font-size: var(--font-size);
}

body {
  font-family: var(--font-family-primary);
  font-size: var(--font-size);
  font-style: normal;
  font-weight: var(--fw-regular);
  text-align: justify;
  color: var(--color-text);
  background-color: var(--color-white);
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  line-height: var(--line-height);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 30px 0;
  font-size: 24px;
  font-family: var(--font-family-primary);
  font-style: normal;
  font-weight: var(--fw-bold);
  line-height: var(--line-height);
}

a {
  color: var(--color-link);
}

/**
 * DIVERS CLASSES
 * --------------------
 */
.t-center {
  text-align: center;
}

.t-left {
  text-align: left;
}

.t-justify {
  text-align: justify;
}

.d_none {
  display: none;
}

.d_block {
  display: block;
}

.clearfix {
  clear: both;
  overflow: hidden;
}

.mt-30 {
  margin-top: 30px;
}

hr.line {
  height: 1px;
  background-color: var(--color-yellow-500);
  margin: 15px 0;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: var(--color-white);
  z-index: 9;
  border-bottom: 1px solid var(--color-text);
  font-size: 16px;
}

.header__container {
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
  grid-gap: 20px;
  padding: 0 15px;
}

.header__logo {
  max-width: 100px;
  padding-top: 10px;
}
.header__logo a {
  display: block;
}

.header__menu {
  justify-self: end;
}
.header__menu .nav-icon {
  display: none;
  vertical-align: middle;
}

.header__navigation {
  transition: all 0.3s ease-in-out;
}
.header__navigation a {
  color: var(--color-grey-800);
  padding: 10px 10px;
}
.header__navigation .active {
  color: var(--color-yellow-500);
}
.header__navigation .dropdown__button {
  font-size: inherit;
}
.header__navigation .dropdown__button .icon-svg {
  --size: 12px;
}

/* hamburger menu ========================================================== */
.nav-icon {
  position: relative;
  z-index: 9999;
  width: 44px;
  height: 38px;
  margin: 3px auto;
  cursor: pointer;
}
.nav-icon span {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--color-black);
  border-radius: 9px;
  opacity: 1;
  transition: 0.25s ease-in-out;
  transform: rotate(0deg);
}
.nav-icon span:nth-child(1) {
  top: 8px;
}
.nav-icon span:nth-child(2) {
  top: 18px;
}
.nav-icon span:nth-child(3) {
  top: 28px;
}
.nav-icon.open span:nth-child(1) {
  top: 18px;
  transform: rotate(135deg);
}
.nav-icon.open span:nth-child(2) {
  left: -60px;
  opacity: 0;
}
.nav-icon.open span:nth-child(3) {
  top: 18px;
  transform: rotate(-135deg);
}

@media (min-width: 1200px) {
  .header__navigation {
    display: block !important;
  }
  .header .nav-open {
    position: inherit;
    top: inherit;
    bottom: inherit;
    right: inherit;
    width: inherit;
    background-color: inherit;
    padding-top: inherit;
    padding-left: inherit;
  }
  .header .nav-open .dropdown {
    display: inline-block;
    position: inherit;
  }
  .header .nav-open .dropdown__content {
    top: inherit;
    display: none;
    position: absolute;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
}
@media (max-width: 1199px) {
  .header__menu .nav-icon {
    display: block;
  }

  .header__navigation {
    position: fixed;
    top: 104px;
    right: 40%;
    z-index: 1000;
    width: 0;
    height: 91%;
    margin-right: -40%;
    margin-top: 0;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.97);
    text-align: left;
    visibility: hidden;
  }
  .header__navigation a {
    display: block;
    padding: 12px 5px;
  }
  .header__navigation .nav-icon {
    display: block;
  }

  .wrap.toggled-nav .header__navigation {
    width: 40%;
    visibility: inherit;
  }
}
.footer {
  background-color: var(--color-grey-800);
  color: var(--color-grey-400);
  font-size: 16px;
  padding-top: 30px;
}
.footer p {
  margin-bottom: 0;
}
.footer a {
  color: var(--color-grey-400);
}
.footer ul {
  margin: 0;
}

img.footer__logo {
  max-width: 100px;
}

.footer__end {
  margin-top: 30px;
  border-top: 1px solid;
  padding: 5px 0;
}

.form {
  --color-border-input: var(--color-yellow-500);
  --color-bg-input: var(--color-white);
  --color-bg-submit: var(--color-yellow-500);
  --color-text-submit: var(--color-white);
  --color-text-field-error: var(--color-white);
  --color-bg-field-error: var(--color-red);
}
.form__group {
  margin-bottom: 30px;
}
.form__label {
  display: block;
  font-weight: var(--fw-bold);
  margin-bottom: 5px;
}
.form__label--radio {
  display: inline-block;
}
.form__input {
  width: 100%;
  display: block;
  height: 45px;
  padding: 6px 12px;
  border: 1px solid var(--color-border-input);
  background-color: var(--color-bg-input);
}
.form__input:active, .form__input:focus {
  outline: 0;
}
.form__input--textarea {
  height: 150px;
  resize: vertical;
}
.form__submit {
  display: block;
  width: auto;
  padding: 10px 22px;
  background-color: var(--color-bg-submit);
  color: var(--color-text-submit);
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  font-weight: var(--fw-bold);
  margin: 0 auto;
  transition: opacity 0.3s ease-in-out;
}
.form__submit:hover, .form__submit:active, .form__submit:focus {
  outline: 0;
  opacity: 0.5;
}
.form__field-error {
  padding: 5px;
  margin-top: 6px;
  font-size: 12px;
  color: var(--color-text-field-error);
  background-color: var(--color-bg-field-error);
}

.form__input-file-container {
  position: relative;
  width: 100%;
  max-width: 100%;
}
.form__input-file-container input {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  filter: alpha(opacity=0);
  opacity: 0;
  cursor: pointer;
}

.form__input--file .icon {
  float: right;
}

.prenom_form {
  display: none;
}

.flash-message {
  position: relative;
  padding-top: 70px;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}
.flash-message .alert {
  background-color: rgba(66, 169, 69, 0.67);
  padding: 10px;
  color: #fff;
}
.flash-message .alert-error {
  background-color: var(--color-red);
}

/**
 * Icons
 * @param $backgroundImage
 * @param $size Size en px
 * --------------------
 */
.icon-svg {
  --size: 20px;
  width: var(--size);
  height: var(--size);
  vertical-align: middle;
}

/**
 * All Icons
 * -------------------
 */
.img-fluid {
  max-width: 100%;
  height: auto;
  display: block;
  vertical-align: middle;
}

.img-center {
  margin: 0 auto;
}

.bg-img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

.title--h1 {
  text-align: center;
  font-size: 48px;
}
.title--h1.ff-hand {
  font-size: 65px;
}

@media (max-width: 768px) {
  .title--h1 {
    font-size: 36px;
  }
}
@media (max-width: 425px) {
  .title--h1 {
    font-size: 22px;
  }
  .title--h1.ff-hand {
    font-size: 40px;
  }
}
.section {
  padding: 60px 0;
}
.section--pad-t {
  padding-top: 15px;
}
.section__pad-b-0 {
  padding-bottom: 0;
}
.section--top {
  display: grid;
  align-items: center;
  min-height: 450px;
  background-color: #b6bfc1;
  background-blend-mode: multiply;
  position: relative;
}
.section--top::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  z-index: 0;
  background-size: 100% 50px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSI1MHB4IiB2aWV3Qm94PSIwIDAgMTI4MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iI2ZmZmZmZiI+PHBhdGggZD0iTTY0MCAxMzlMMCAwdjE0MGgxMjgwVjBMNjQwIDEzOXoiIGZpbGwtb3BhY2l0eT0iLjUiLz48cGF0aCBkPSJNNjQwIDEzOUwwIDQydjk4aDEyODBWNDJsLTY0MCA5N3oiLz48L2c+PC9zdmc+");
}
.section--top .title--h1 {
  margin-bottom: 0;
  color: var(--color-white);
}

.block-text__title {
  text-align: center;
  font-size: 42px;
}
.block-text__title--big {
  font-size: 42px;
  font-weight: bold;
}
.block-text__title--small {
  font-size: 1.8em;
}

@media (max-width: 768px) {
  .block-text__title {
    font-size: 24px;
  }
  .block-text__title--big {
    font-size: 24px;
  }
}
@media (max-width: 425px) {
  .block-text__title {
    font-size: 18px;
  }
  .block-text__title--big {
    font-size: 18px;
  }
}
.box-icon {
  text-align: center;
}
.box-icon__link {
  display: block;
  color: var(--color-yellow-500);
}
.box-icon__img {
  margin: 0 auto 15px;
}

.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}

.block-post {
  padding-bottom: 10px;
}
.block-post__text {
  margin-top: 10px;
  text-align: justify;
}
.block-post__date {
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 0;
}
.block-post__btn a {
  background-color: var(--color-yellow-500);
  border-radius: 20px;
  padding: 5px 12px;
  color: var(--color-white);
  text-align: center;
}
.block-post--vertical {
  display: grid;
  grid-template-rows: 200px -webkit-max-content 1fr -webkit-max-content;
  grid-template-rows: 200px max-content 1fr max-content;
  max-width: 366px;
  min-height: 100%;
  border: 1px solid var(--color-grey-400);
}
.block-post--vertical .block-post__img img {
  height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.block-post--vertical .block-post__title {
  background-color: var(--color-grey-400);
  padding: 15px 5px;
  text-align: center;
  color: var(--color-white);
}
.block-post--vertical .block-post__text {
  padding: 0 12px;
}
.block-post--vertical .block-post__btn {
  padding: 0 12px;
  text-align: center;
}
.block-post--vertical .block-post__date {
  text-align: right;
}
.block-post--horizontal .block-post__title {
  background-color: transparent;
  color: var(--color-text);
  font-size: 21px;
  padding: 0;
  text-align: left;
}
.block-post--horizontal .block-post__btn {
  text-align: right;
  padding: 5px 0;
}
.block-post__line {
  border-bottom: 1px solid var(--color-yellow-500);
  margin: 15px 0;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown__button {
  cursor: pointer;
  color: var(--color-white);
  font-size: 18px;
}
.dropdown__content {
  display: none;
  position: absolute;
  background-color: var(--color-white);
  min-width: 150px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1;
}
.dropdown__link {
  color: var(--color-yellow-500);
  padding: 5px 10px;
  text-decoration: none;
  display: block;
}

[data-modal] {
  cursor: pointer;
  color: var(--color-link);
}

.modal {
  --modal-bg: rgba(54, 98, 132, .45);
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}
.modal.open {
  display: flex;
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
.modal-bg {
  position: absolute;
  background-color: var(--modal-bg);
  width: 100%;
  height: 100%;
}
.modal-container {
  position: relative;
  max-width: 900px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 1px 10px #729896;
  padding: 40px 30px 30px 30px;
  height: auto;
  overflow: auto;
}
.modal__title {
  font-size: 1.2em;
}
.modal-close {
  position: absolute;
  right: 10px;
  top: 10px;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 0;
  font-weight: bold;
  cursor: pointer;
}
.modal-close .icon-svg {
  --size: 30px;
}

.ff-hand {
  font-family: var(--font-family-hand);
  font-size: 45px;
}

.home .section--top {
  background-image: url("/img/clinique-cepi-accueil.jpg");
  background-color: #d6dee0;
}
.home .section--top p {
  color: var(--color-green);
  max-width: 800px;
  margin: 0 auto;
}
.home .section__1 .block-text {
  margin-bottom: 50px;
}

/* ======================================================================== *
 * SOINS CATEGORIES
 * ======================================================================== */
.soins-categories {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}
@media (max-width: 992px) {
  .soins-categories {
    grid-template-columns: 1fr;
  }
}

.box-icon .icon-svg {
  --size: 150px;
  margin-bottom: 10px;
}

/* ======================================================================== *
 * SECTION NEWS
 * ======================================================================== */
.section__news {
  padding-top: 0;
}

.cabinet .section--top {
  background-image: url("/img/cabinet.jpg");
}
.cabinet .title-before-arrived {
  margin-bottom: 30px;
  margin-top: 45px;
  color: var(--color-text);
}
.cabinet .block-before-arrived {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  text-align: center;
}
.cabinet .block-before-arrived .icon-svg {
  --size: 70px;
  margin-bottom: 10px;
  color: var(--color-yellow-500);
}
.cabinet .block-before-arrived a {
  color: var(--color-text);
}
.cabinet .oscar {
  color: var(--color-text);
  margin-top: 30px;
  font-size: 30px;
}
.cabinet .teams {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.cabinet .section--equipe .title {
  font-size: 2.3em;
  margin-bottom: 30px;
  color: var(--color-yellow-500);
}
.cabinet .section--equipe .box-equipe {
  text-align: center;
  padding: 5px;
  margin-bottom: 10px;
}
.cabinet .section--equipe .box-equipe__title {
  font-size: 25px;
}
.cabinet .section--equipe .box-equipe__link {
  display: block;
  color: var(--color-white);
  text-decoration: none !important;
}
.cabinet .section--equipe .box-equipe__link:hover {
  opacity: 1;
}
.cabinet .section--equipe .box-equipe__img {
  width: 100%;
  height: 100%;
  max-width: 250px;
  max-height: 250px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 15px;
  border: 5px solid var(--color-white);
  transition: border 0.3s ease-in-out;
}
.cabinet .section--equipe .box-equipe__img:hover {
  border: 8px solid var(--color-yellow-500);
}
.cabinet .section--equipe .box-equipe a {
  color: var(--color-text);
  text-decoration: underline;
}
.cabinet .section--labo .block-text__title {
  color: var(--color-text);
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .cabinet .block-before-arrived {
    grid-template-columns: none;
  }
}
.nos-soins .section--top {
  background-image: url("/img/soins.jpg");
}
.nos-soins .volonte {
  font-size: 24px;
  margin-top: 30px;
  text-align: center;
}
.nos-soins .block-text__title {
  color: var(--color-yellow-500);
  margin-top: 30px;
}
.nos-soins .block-text__title--mt-0 {
  margin-top: 0;
}
.nos-soins .block-text__title--small {
  color: var(--color-text);
}

/* ======================================================================== *
 * CHIRURGIE BUCCALE
 * ======================================================================== */
.chirurgie-buccale .section--top {
  background-image: url("/img/soins/chirurgie-buccale.jpg");
}

/* ======================================================================== *
 * ESTHETIQUE DU SOURIRE
 * ======================================================================== */
.esthetique-dentaire .section--top {
  background-image: url("/img/soins/sourire-esthetique.jpg");
}

/* ======================================================================== *
 * IMPLANTOLOGIE
 * ======================================================================== */
.implantologie .section--top {
  background-image: url("/img/soins/implantologie.jpg");
}

/* ======================================================================== *
 * ENDODONTIE
 * ======================================================================== */
.endodontie .section--top {
  background-image: url("/img/soins/endodontie.jpg");
}

.conseils-patients .section--top {
  background-image: url("/img/conseils-patients.jpg");
}

.advice-files__title {
  font-size: 1.2em;
}

.espaces-praticiens .section--top {
  background-image: url("/img/implants.jpg");
}
.espaces-praticiens .btn--action {
  background-color: var(--color-yellow-500);
  border-radius: 20px;
  padding: 10px 30px;
  color: var(--color-white);
  text-align: center;
}

.videos-utiles .section--top {
  background-image: url("/img/video-utiles.jpg");
}
.videos-utiles iframe {
  width: 100%;
  max-width: 530px;
  height: 315px;
}

.section-soins-categories {
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  background-color: var(--color-white);
  padding-bottom: 0;
  border-bottom: 1px solid var(--color-yellow-500);
}
.section-soins-categories a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.section-soins-categories .icon-svg {
  --size: 40px;
}
@media (max-width: 1199px) {
  .section-soins-categories .icon-svg {
    display: none;
  }
}
@media (max-width: 992px) {
  .section-soins-categories .soins-categories {
    grid-template-columns: repeat(5, 1fr);
    font-size: 12px;
  }
}
@media (max-width: 650px) {
  .section-soins-categories .soins-categories {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 650px) {
  .section-soins-categories {
    position: relative;
    top: 0;
  }
}

.contact .header {
  z-index: 9999;
}
.contact .block-text__title {
  margin-bottom: 30px;
}
.contact #mapid {
  height: 100%;
}
.contact #mapid .leaflet-top {
  z-index: 1112;
}
.contact .tel {
  text-align: center;
  font-size: 30px;
  margin: 15px 0 30px;
}

.mentions-legales .section--top {
  background-image: url("/img/dentiste-pagbe-ndobo.jpg");
}

.posts .section--top {
  background-image: url("/img/sourire-dentiste.jpg");
}
.posts .post-view__title {
  text-align: center;
  font-size: 30px;
  color: var(--color-yellow-500);
}
.posts .post-view__image {
  margin-bottom: 30px;
}
.posts .post-view__content {
  text-align: justify;
}
.posts .post-view__content .text-huge {
  font-size: 1.6rem;
}
.posts .post-view__content .text-big {
  font-size: 1.3rem;
}
.posts .post-view__content .text-small {
  font-size: 0.8rem;
}
.posts .post-view__content .text-tiny {
  font-size: 0.5rem;
}
.posts .post-view__date {
  text-align: right;
  font-size: 14px;
  border-top: 1px solid;
}
.posts .post-sidebar {
  margin-left: 10%;
}
.posts .post-sidebar__title {
  text-transform: uppercase;
  text-align: center;
}
.posts .post-sidebar__listing {
  padding: 0;
  text-align: left;
}
.posts .post-sidebar__listing li {
  list-style: none;
}
.posts .post-sidebar__listing li a {
  color: var(--color-text);
}
.posts .post-sidebar__block {
  background-color: var(--color-grey-100);
  padding: 20px 10px;
  margin-bottom: 30px;
}
.posts .post-sidebar__block li {
  margin-bottom: 15px;
}
.posts .post-categories .title--h1 {
  color: var(--color-yellow-500);
}

@media (max-width: 768px) {
  .posts .post-sidebar {
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .ff-hand {
    font-size: 35px;
  }
}
