
$body-bg: #7f7f7f;

// color
$color-white: #fff;
$color-black: #383838;
$color-blue: #00a8ea;
$color-green: #43B749;
$color-grey: rgb(96, 96, 96);
$color-orange: #e94d25;
$color-yellow: #ffca45;

$color-text: #ddd;
$color-link: $color-yellow;
$color-line-separation: #969696;
$color-bg-editor: #696969;
$color-bg-block-page: #6f6f6f;

$color-btn-delete: #9a9a9a;

$bg-gris: #fdf1e3;

$color-red: #b96e6c; // for errors


/**
 * Header
 * --------------------
 */
$header-background-color: #5d5d5d;
$header-height: 132px;


